<div class="homepage__post mypostpage">
    <div class="homepage__post-posts">
        <div class="homepage__post-posts--header">
            <div class="homepage__post-posts--header-avt">
                <img
                    src="/images/avt.png"
                    alt=""
                    class="rounded-circle homepage__upload-text--avt"
                />
            </div>
            <div class="homepage__post-posts--header-nametime">
                <a class="homepage__post-posts--header-name" href="#">Thiện Vsoul</a>
                <div class="homepage__post-posts--header-time">
                    December 14, 2021
                </div>
            </div>
            <button
                class="btn myNotify__btn__dropdown"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Xóa bài viết</a>
                <a class="dropdown-item" href="#">Chỉnh sửa bài viết</a>
            </div>
        </div>
        <div class="homepage__post-posts--content">
            helooooooooooooooooasdddddddddddddddddddddccccccccccccssssssssssssssssssssssssssssccccccccccccccccccccccccccs
        </div>
        <div class="homepage__post-posts--content--cmt">
            <p>View 6 more comments</p>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        <a class="homepage__post-posts--content--1cmt-namen" href="#">Thiện Vsoul</a>
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin chaao cac ban
                    </div>
                </div>
            </div>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        <a class="homepage__post-posts--content--1cmt-namen" href="#">Thiện Vsoul</a>
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin chaao cac ban
                    </div>
                </div>
            </div>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        <a class="homepage__post-posts--content--1cmt-namen" href="#">Thiện Vsoul</a>
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin
                        cssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshasdsdasdasdasdsdasdasdasdsdsdaao
                        cac ban
                    </div>
                </div>
            </div>
        </div>
        <div class="homepage__post-posts--content--yourcmt">
            <div class="homepage__post-posts--content--1cmt-avt">
                <img
                    src="/images/avt.png"
                    alt=""
                    class="
                        rounded-circle
                        homepage__post-posts--content--cmt-avt
                    "
                />
            </div>
            <input
                type="text"
                class="homepage__post-posts--content--yourcmtinput"
            />
            <div class="homepage__post-posts--content--yourcmticon">
                <button class="homepage__post-posts--content--yourcmticon1"><img
                    src="/images/icon.png"
                    class="homepage__upload-extra--live_video--img"
                /></button>
                <button class="homepage__post-posts--content--yourcmticon2"><img
                    src="/images/img.png"
                    class="homepage__upload-extra--live_video--img"
                /></button>
                <button class="homepage__post-posts--content--yourcmticon3"><img
                    src="/images/send.png"
                    class="homepage__upload-extra--live_video--img"
                /></button>
            </div>
        </div>
    </div>
</div>