<div class="d-flex justify-content-between">
    <button class="h3 btn-dark btn-lg btn-block text-uppercase">
        Danh sách phòng ban
    </button>
</div>
<div id="listDepartments" class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên phòng ban</th>
                <th>Logo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>fsdv</td>
                <td>vsdvffvsddddddddsvvvvvvvvvvvv</td>
                <td>
                    <img
                        src="https://yt3.ggpht.com/a/AGF-l78urB8ASkb0JO2a6AB0UAXeEHe6-pc9UJqxUw=s900-mo-c-c0xffffffff-rj-k-no"
                        alt=""
                        width="40px"
                    />
                </td>
            </tr>
            <tr>
                <td>fsdv</td>
                <td>vsdvfvvvvvvsdffffffffff</td>
                <td>
                    <img
                        src="https://yt3.ggpht.com/a/AGF-l78urB8ASkb0JO2a6AB0UAXeEHe6-pc9UJqxUw=s900-mo-c-c0xffffffff-rj-k-no"
                        alt=""
                        width="40px"
                    />
                </td>
            </tr>
            <tr>
                <td>fsdv</td>
                <td>vsdvf</td>
                <td>
                    <img
                        src="https://yt3.ggpht.com/a/AGF-l78urB8ASkb0JO2a6AB0UAXeEHe6-pc9UJqxUw=s900-mo-c-c0xffffffff-rj-k-no"
                        alt=""
                        width="40px"
                    />
                </td>
            </tr>
        </tbody>
    </table>
</div>
