<!-- <div class="homepage__upload">
    <div class="homepage__upload-text">
        <img
            src="/images/avt.png"
            alt=""
            class="rounded-circle homepage__upload-text--avt"
        />
        <input
            type="text"
            name=""
            id=""
            class="homepage__upload-text--avt--input"
            placeholder="What is in your mind, NAME?"
        />
    </div>
    <div class="homepage__upload-extra">
        <div class="homepage__upload-extra--live_video">
            <Button class="homepage__upload-extra--live_videobtn">
                <div><img
                    src="/images/live.png"
                    class="homepage__upload-extra--live_video--img"
                    />
                    Video</div>
            </Button>
        </div>
        <div class="homepage__upload-extra--photovideo">
            
            <Button class="homepage__upload-extra--live_videobtn">
                <div><img
                    src="/images/photo.png"
                    class="homepage__upload-extra--live_video--img"
                />Photo/Video
            </Button>
        </div>
        <div class="homepage__upload-extra--feelingactivity">
            <Button class="homepage__upload-extra--live_videobtn">
                <div>
                    <img
                        src="/images/icon.png"
                        class="homepage__upload-extra--live_video--img"
                    />
                    Feeling/Activity
            </Button>
            
        </div>
    </div>
</div> -->

<button id="btn-Post" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-secondary">Đăng bài viết</button>
<% if(locals.profile.position !== 1){ %>
    <button id="btn-Announce" type="button" data-toggle="modal" data-target="#modalAnnounce" class="btn btn-secondary">
        Đăng thông báo
    </button>
<% } %>
<div class="container" id="postArea"></div>
<div id="loadPage"></div>

<!-- modal post -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm bài viết</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form action="/action_page.php">
                    <div class="container">
                        <div class="form-group">
                            <label for="content">Nội dung:</label>
                            <textarea class="form-control" rows="5" id="contentPost" placeholder="Viết tại đây..."
                                name="text"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="content">Link video hoặc hình ảnh:</label>
                            <textarea class="form-control" rows="2" id="link" placeholder="Link video hoặc hình ảnh..."
                                name="text"></textarea>
                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" id="btnPost" class="btn btn-primary" data-dismiss="modal">Đăng</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- modal announce -->
    <div class="modal" id="modalAnnounce">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm thông báo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form action="/">
                    <div class="container">
                        <div class="form-group">
                            <label for="tittle">Tiêu đề:</label>
                            <textarea class="form-control" rows="2" id="tittle" placeholder="Tiêu đề thông báo..."
                                name="text"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="content">Nội dung:</label>
                            <textarea class="form-control" rows="5" id="contentAnnounce" placeholder="Viết thông báo tại đây..."
                                name="text"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="auths">Chọn phòng ban</label>
                            <select name="auths" id="auths">
                               <% profile.auths.forEach(val => { %>
                                    <% if(val === 1) { %>
                                        <option value="1">CTHSSV</option>
                                    <% }else if(val === 2){ %>
                                        <option value="2">PDH</option>
                                    <% }else if(val === 3){ %>
                                        <option value="3">PKT</option>
                                    <% }else if(val === 4){ %>
                                        <option value="4">PTC</option>
                                    <% }else if(val === 5){ %>
                                        <option value="5">CLC</option>
                                    <% }else if(val === 6){ %>
                                        <option value="6">TTTH</option>
                                    <% }else if(val === 7){ %>
                                        <option value="7">SDTC</option>
                                    <% }else if(val === 8){ %>
                                        <option value="8">ATEM</option>
                                    <% }else if(val === 9){ %>
                                        <option value="9">CSV</option>
                                    <% }else if(val === 10){ %>
                                        <option value="10">KL</option>
                                    <% }else if(val === 11){ %>
                                        <option value="11">TTNNTHVH</option>
                                    <% }else if(val === 12){ %>
                                        <option value="12">VCSKT</option>
                                    <% }else if(val === 13){ %>
                                        <option value="13">KDDT</option>
                                    <% }else if(val === 14){ %>
                                        <option value="14">KCNTT</option>
                                    <% }else if(val === 15){ %>
                                        <option value="15">LQTKD</option>
                                    <% }else if(val === 16){ %>
                                        <option value="16">KMT</option>    
                                    <% }else if(val === 17){ %>
                                        <option value="17">KLDCD</option>
                                    <% }else if(val === 18){ %>
                                        <option value="18">KTCNH</option>
                                    <% }else if(val === 19){ %>
                                        <option value="19">KGDQT</option>
                                    <% }else if(val === 20){ %>
                                        <option value="20">KMTCN</option>
                                    <% }else if(val === 21){ %>
                                        <option value="21">PSDH</option>
                                    <% }else{ %>
                                        <option value="22">PDTMT</option>
                                    <% } %>
                                <% }) %>
                            </select>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" id="btnAnnounce"  class="btn btn-primary" data-dismiss="modal">Đăng</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div class="homepage__post">
    <div class="homepage__post-posts">
        <div class="homepage__post-posts--header">
            <div class="homepage__post-posts--header-avt">
                <img
                    src="/images/avt.png"
                    alt=""
                    class="rounded-circle homepage__upload-text--avt"
                />
            </div>
            <div class="homepage__post-posts--header-nametime">
                <a class="homepage__post-posts--header-name" href="/profile">Thiện Vsoul</a>
                <div class="homepage__post-posts--header-time">
                    December 14, 2021
                </div>
            </div>
            <button
                class="btn myNotify__btn__dropdown"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Xóa bài viết</a>
                <a class="dropdown-item" href="#">Chỉnh sửa bài viết</a>
            </div>
        </div>
        <div class="homepage__post-posts--content">
            helooooooooooooooooasdddddddddddddddddddddccccccccccccssssssssssssssssssssssssssssccccccccccccccccccccccccccs
        </div>
        <div class="homepage__post-posts--content--cmt">
            <p>View 6 more comments</p>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        <a class="homepage__post-posts--header-name" href="/profile">Thiện Vsoul</a>
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin chaao cac ban
                    </div>
                </div>
            </div>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        <a class="homepage__post-posts--header-name" href="/profile">Thiện Vsoul</a>
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin chaao cac ban
                    </div>
                </div>
            </div>

            <div class="homepage__post-posts--content--1cmt">
                <div class="homepage__post-posts--content--1cmt-avt">
                    <img
                        src="/images/avt.png"
                        alt=""
                        class="
                            rounded-circle
                            homepage__post-posts--content--cmt-avt
                        "
                    />
                </div>
                <div class="homepage__post-posts--content--1cmt-namecontent">
                    <div class="homepage__post-posts--content--1cmt-name">
                        <a class="homepage__post-posts--content--1cmt-namen" href="/profile">Thiện Vsoul</a>
                        <div
                            class="homepage__post-posts--content--1cmt-ifauthor"
                        >
                            Author
                        </div>
                    </div>
                    <div class="homepage__post-posts--content--1cmt-content">
                        xin
                        cssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshascssssssssssssssssssssssssssshasdsdasdasdasdsdasdasdasdsdsdaao
                        cac ban
                    </div>
                </div>
            </div>
        </div>
        <div class="homepage__post-posts--content--yourcmt">
            <div class="homepage__post-posts--content--1cmt-avt">
                <img
                    src="/images/avt.png"
                    alt=""
                    class="
                        rounded-circle
                        homepage__post-posts--content--cmt-avt
                    "
                />
            </div>
            <input
                type="text"
                class="homepage__post-posts--content--yourcmtinput"
            />
            <div class="homepage__post-posts--content--yourcmticon">
                <button class="homepage__post-posts--content--yourcmticon1"><img
                    src="/images/icon.png"
                    class="homepage__upload-extra--live_video--img"
                /></button>
                <button class="homepage__post-posts--content--yourcmticon2"><img
                    src="/images/img.png"
                    class="homepage__upload-extra--live_video--img"
                /></button>
                <button class="homepage__post-posts--content--yourcmticon3"><img
                    src="/images/send.png"
                    class="homepage__upload-extra--live_video--img"
                /></button>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/index.js"></script>



