<h3 class="text-center">Thông báo theo chuyên đề</h3>

<% data.forEach(val => { %>
<div class="notifyTopic">
    <img
        class="notifyTopic__img"
        src="/images/logo.jpg"
        class="rounded mx-auto d-block"
        alt="Chuyên đề"
    />
    <div class="notifyTopic__title text-center"><%= val.name %></div>
    <div class="text-center">
        <a href="/notify/topic/list?auths=<%= val.auths %>">Xem thông báo</a>
    </div>
</div>
<% }) %>
