
<h2 class="text-center">Danh sách thông báo</h2>
<div>
    <ul class="pagination" id="pagination">
    </ul>
</div>

<!-- <h3 class="text-center">Thông báo của tôi</h3>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</nav> -->

<div class="container" id="allAnnou"></div>
<% if(profile.position===0){%>
    <script src="/javascripts/listAnnouncesAdm.js"></script>
    <% }else{ %>
        <script src="/javascripts/listAnnounces.js"></script>
        <% } %>



<!-- <h3 class="text-center">Danh sách thông báo</h3>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
</nav> -->


<!-- myNotify
<div class="myNotify" id="Notifylist">
    <div class="myNotify__container">
        <div class="myNotify__container__header">
            <div class="myNotify__container__header__container">
                <div class="myNotify__title">Thông báo của tôi 03</div>
                <div class="myNotify__time">03/03/3003</div>
            </div>
            <div class="dropdown">
                <button
                    class="btn myNotify__btn__dropdown"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Xóa thông báo</a>
                    <a
                        class="dropdown-item"
                        data-toggle="modal"
                        data-target="#modalEditPost"
                        >Chỉnh sửa</a
                    >
                </div>
            </div>
        </div>
        <div class="myNotify__detail">
            <div class="col"></div>
            <a href="/notifyDetail" class="myNotify__detail__link"
                >Xem chi tiết</a
            >
        </div>
    </div>
</div> -->

<!-- /*===== Modal edit =====*/ -->
<div class="modal" id="modalEditPost">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chỉnh sửa bài viết</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <!-- Modal body -->
            <form action="/editNotify/editNotify" method="Post">
                <div class="container">
                    <input type="hidden" name="idNotify" id="idNotify" />
                    <input type="hidden" id="page_MD">
                    <div class="form-group">
                        <label for="content">Tiêu đề:</label>
                        <textarea class="form-control" rows="1" id="tittle_MD" placeholder="Viết."
                            name="text"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="content">Nội dung:</label>
                        <textarea
                            class="form-control"
                            rows="5"
                            id="contentPost_MD"
                            placeholder="Viết thông báo tại đây..."
                            name="text"
                        ></textarea>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button
                        type="button"
                        id="btnEditPost"
                        class="btn btn-primary"
                        data-dismiss="modal"
                    >
                        Chỉnh sửa
                    </button>
                    <button
                        type="button"
                        class="btn btn-danger"
                        data-dismiss="modal"
                    >
                        Đóng
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

        var idNotify = ""
        var tittle = ""
        var content = ""

        function showEditAnnouMD(idNotify, tittle, content, number) {
            document.getElementById("idNotify").value = idNotify
            document.getElementById("page_MD").value = number
            document.getElementById('tittle_MD').value = tittle
            document.getElementById('contentPost_MD').value = content


            idNotify = idNotify
            tittle = tittle
            content = content
        }

        var btnEditAnnounce = document.getElementById("btnEditPost")

        btnEditAnnounce.addEventListener('click', () => {

            var idNotify = document.getElementById("idNotify").value
            var page_MD = document.getElementById("page_MD").value
            var tittle = document.getElementById('tittle_MD').value
            var content = document.getElementById('contentPost_MD').value

            if (idNotify && tittle && content) {
                fetch("/editNotify/editNotify", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        idNotify: idNotify,
                        tittle: tittle,
                        content: content
                    })
                })
                    .then(res => res.json())
                    .then(json => {
                        if (json.code === 0) {
                            choosePage(parseInt(page_MD))
                            // msg = "Thông báo vừa được chỉnh sửa " + "<a href='/announceDetail?idNotify=" + idNotify + "'>XEM</a>"
                            // socket.emit("client_Send_Data", msg)
                        }
                        else
                            alert(json.message)
                    })
                    .catch(err => console.log(err))
            }
        })

</script>